<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>About - Gym</title>
</head>
<body>
    <header>
        <h1>About Us</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/services">Services</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main class="about">
        <h1><font color="white">WHY CHOSE US?</font></h1>
        <h1><font size="9" color="white">PUSH YOUR LIMITS TOWARDS</font></h1>
        <p><font color="white">FitPro Gym is dedicated to helping you achieve your fitness goals in a supportive environment.</font></p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


    </main>
</body>
</html>

